<h2>
    <a href="#" class="text-dark text-decoration-none">
        {{ product.name }}
    </a>
</h2>
<p>
    {{ product.summary }}
</p>

<p class="text-muted">
    {{ product.comments|length }} Comentarios
    |
    {% for tag in product.tags %}
        <a 
            href="{{ path('app_tag', { id: tag.id }) }}" 
            class="badge bg-light text-dark text-decoration-none"
        >
            {{ tag.name }}
        </a>
    {% endfor %}
</p>