<div class="mb-4">
    <h2>
        <a 
            href="{{ path('app_product', { id: product.id }) }}" 
            class="text-dark text-decoration-none"
        >
            {{ product.id }}
            {{ product.name }}
        </a>
    </h2>
    <p>
        {{ product.summary }}
    </p>

    {{ include('page/_info.html.twig') }}
</div>